@import url("https://cdn.jsdelivr.net/gh/lscambo13/ElegantFin@main/Theme/ElegantFin-jellyfin-theme-build-latest-minified.css");

/* Actually shrink cast images */
#castContent .card.overflowPortraitCard img {
    width: 70% !important;
    height: auto !important;
    object-fit: contain !important;
    margin: 0 auto !important;
    display: block !important;
}

.layout-tv #castContent .card.overflowPortraitCard {
    font-size: 90% !important;
    width: 13em !important;
    margin-left: -1.6vw !important;
    height: 30vh;
}

.homeSectionsContainer {
top: 70vh;
}
